@font-face{
    font-family: Kirvy;
    src: url(./Kirvy/Kirvy-Light.otf) format("opentype");
}

button{
	width: 173px;
}

#yid-wedding.container{

padding-bottom: 100px;
}

.btn-lg{
	font-size: 1em;
}
.thumbnail > img{
}
#services-content{
	font-family: Kirvy;
    font-size: 13px;
}

.center-content{
	margin-top:5em;
	min-height: 20em;

}
/* services that change on click*/
.rent{
	display:none;
}
.tailor{
	display:none;
}

.photo{
	display:none;
}

.face{
	display:none;
}

.floral{
	display:none;
}

.print{
	display:none;
}