@font-face{
    font-family: Kirvy;
    src: url(./Kirvy/Kirvy-Light.otf) format("opentype");
}

button{
	width: 173px;
}


.popover{
	font-size: 15px;
	font-family: Kirvy;
}

#yid-wedding.container{

padding-bottom: 100px;
}

#aboutus, #testimonials{
    font-family: Kirvy;
    font-size: 13px;
}
#aboutus p{
    font-size: 19px;
}

/* services that change on click*/
.rent{
	display:hidden;
}
